html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #3aafa9;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #17252A;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

#header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

#header nav {
	float: right;
	font-size: 100%;
}

#header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

#header nav a:hover,
#header nav a:active {
	background: rgba(0,0,0,0.2);
}

#header nav a.active {
	background: rgba(0,0,0,0.4);
}

.login-button {
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	background-color: #2B7A78;
	font-size: 1rem;
	padding: 5px 10px;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.login-button:hover {
	box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.2);
}

.login-button:active {
	box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.2);
}

#content {
	display: flex;
	justify-content: center;
	background-color: #3aafa9;
}
.home {
	padding: 56px 20px;
	min-height: 100%;
	background-color: #def2f1;
}

.home h1 {
	margin: 10px 0;
	border: 2px solid #2B7A78;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: normal;
	display: inline-block;
	background-color: white;
}

.table {
	display: table;
	font-size: 20px;
}

.row {
	display: table-row;
	padding: 5px 0;
}

.symbol-block {
	background-color: #2B7A78;
	color: white;
	padding: 5px;
	border-radius: 4px;
}

.cell {
	display: table-cell;
	padding: 10px;
	margin: 5px;
	text-align: center;
	border-bottom: 1px solid #17252A;
	background-color: #feffff;
}

.positive {
	color: green;
}

.negative {
	color: red;
}

.header-cell {
	display: table-cell;
	padding: 10px;
	margin: 5px;
	text-align: center;
	color: black;
	border-bottom: 2px solid #17252A;
}

.date-cell {
	font-size: 14px;
}

.price-cell {
	display: table-cell;
	padding: 0;
	font-size: 28px;
	text-align: right;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-bottom: 12px solid green;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-top: 12px solid #f00;
}

button.startStop {
	font-size: 2rem;
	border-radius: 5px;
	background-color: #2B7A78;
	color: white;
	margin: 5px 0;
	width: 450px;
}

.info {
	margin: 10px 0;
}